######################################
# CUSTOM
######################################

###### Composer dependencies ######
vendor/

###### BOX ######
.requirement-checker/

###### BOX Manifest ######
.box.manifests.bin
console-table.txt
console-style.txt
manifest.txt
plain.txt
sbom.json
sbom.xml
sbom.cdx.json
sbom.cdx.xml
custom.bin

###### PHPLint ######
.phplint-cache
.phplint.cache/

###### PHPUnit ######
.phpunit.result.cache
.phpunit.cache
phpunit.xml

###### Mega-Linter ######
megalinter-reports/

######################################
# GENERIC
######################################

###### std ######
*.lock
*.log

###### patches/diffs ######
*.patch
*.diff
*.orig
*.rej

###### archives ######
*.tgz
*.zip
*.phar

###### git ######
.gitignore
# cannot ignore .github folder because Mega-Linter ACTION_ACTIONLINT be check
.git

######################################
# Operating Systems
######################################

###### OSX ######
._*
.DS*
.Spotlight-V100
.Trashes

###### Windows ######
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk


######################################
# Editors
######################################

###### Sublime ######
*.sublime-workspace
*.sublime-project

###### Eclipse ######
.classpath
.buildpath
.project
.settings/

###### Netbeans ######
nbproject/private/

###### Intellij IDE ######
.idea/
.idea_modules/

###### vim ######
*.swp
*.swo
*~

###### TextMate ######
.tm_properties
*.tmproj

###### BBEdit ######
*.bbprojectd
*.bbproject
