{
    "main": "bin/box-stub",
    "output": "bin/box-stub.phar",
    "stub": "stub-stub.php",
    "directories": ["bin", "src", "resources", "vendor"],
    "directories-bin": ["vendor/humbug/box/res/requirement-checker"],
    "files-bin": [
        "vendor/humbug/php-scoper/vendor-hotfix/.gitkeep",
        "autoload_phar_runtime.template",
        "stub-sbom.xml",
        "stub-manifest.txt"
    ],
    "blacklist": [
        "bin/box-manifest.phar",
        "bin/box-compile.phar",
        "fixtures",
        "tests",
        "Test",
        "doc",
        "dist",
        "vendor-bin"
    ],
    "compression": "GZ",
    "git-version": "git-version"
}
