{
    "stub": "stub.php",
    "directories": ["bin", "src", "vendor"],
    "directories-bin": [
        "vendor/humbug/box/res/requirement-checker",
        "resources"
    ],
    "files-bin": [
        "vendor/humbug/php-scoper/vendor-hotfix/.gitkeep",
        "autoload_phar_runtime.template",
        "console.txt",
        "manifest.txt",
        "sbom.json",
        "sbom.xml"
    ],
    "metadata": "native BOX metadata setting : see https://box-project.github.io/box/configuration/#metadata-metadata",
    "map": [
        { "console.txt": ".box.manifests/console.txt" },
        { "manifest.txt": ".box.manifests/manifest.txt" },
        { "sbom.xml": ".box.manifests/sbom.xml" },
        { "sbom.json": ".box.manifests/sbom.json" }
    ],
    "blacklist": [
        "fixtures",
        "tests",
        "Test",
        "doc",
        "dist",
        "vendor-bin"
    ],
    "compression": "GZ",
    "git-version": "git-version"
}
