<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
    backupGlobals="false"
    backupStaticProperties="false"
    bootstrap="bootstrap.php"
    colors="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnRisky="false"
    stopOnSkipped="false"
    beStrictAboutTestsThatDoNotTestAnything="false"
    processIsolation="false"
    cacheDirectory=".phpunit.cache"
>
    <coverage includeUncoveredFiles="true">
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="false"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="e2e">
            <directory suffix="Test.php">tests/e2e/</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
</phpunit>
