<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    backupGlobals="false"
    backupStaticProperties="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnRisky="false"
    stopOnSkipped="false"
    beStrictAboutTestsThatDoNotTestAnything="false"
    processIsolation="false"
    cacheDirectory=".phpunit.cache"
>
    <coverage/>
    <testsuite name="Box Manifest Test Suite">
        <exclude>tests/fixtures/plugin/**/vendor/</exclude>
        <directory>tests/</directory>
    </testsuite>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
</phpunit>
